<div class="row">
  <div class="small-12 medium-5 columns top-margin" id="org-details-photo">
    <%= image_tag(@organization.display_photo) %><br/>
    <%= link_to "Website <i class=\"fa fa-external-link\"></i>".html_safe,
     @organization.url, class: "external-link" %><br/>
     <% if @organization.organizer?(current_user) %>
       <a href="#" class="button medium split organizer-info">Organizer
       Menu <i class="fa fa-cogs"></i> <span data-dropdown="drop"></span>
       </a><br/>
       <ul id="drop" class="f-dropdown" data-dropdown-content>
         <li><%= link_to "Edit Organization Settings",
                 edit_organization_path(@organization.id) %></li>
         <li><%= link_to "Invite and Manage Organizers",
                edit_organization_path(id: @organization.id,
          anchor: "invite") %>
         <li><%= link_to "Add Items to Wishlist",
                 new_organization_item_path(organization_id: @organization.id) %>
         </li>
         <li><%= link_to "See Incoming Items",
                 organization_items_path(@organization.id) %></li>
       </ul>
     <% end %>
  </div>

  <div class="small-12 medium-7 columns top-margin">
  <h1><%= @organization.name %></h1>
  <h2>Contact Information</h2>
    <%= @organization.address %><br/>
    <%= @organization.city %>,
    <%= @organization.state %>
    <%= @organization.zip %><br/>
    <a href="tel+<%= @organization.phone %>"><%= number_to_phone(@organization.phone) %></a><br/>
    <a href="mailto:<%= @organization.email %>"><%= @organization.email %></a><br/>
  <h2>About</h2>
    <%= @organization.description %></br>
  <h2>Delivery Instructions</h2>
      <%= @organization.delivery_instructions %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-offset-1 columns wishlist">
    <h2>All Wishlist Items</h2>
    <table class="responsive">
      <th>
        <tr>
          <td width="150">Item Name</td>
          <td width="50">Quantity</td>
          <td width="200">Description</td>
          <td width="50">Link</td>
          <td width="80" class="got-it">Get It</td>
          <% if @organization.organizer?(current_user) %>
            <td width="50">Edit</td>
            <td width="50">Delete</td>
          <% end %>
        </tr>
        </th>
        <% @organization.items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <% if item.description %>
            <td><%= item.description %></td>
          <% else %>
            <td></td>
          <% end %>
          <% if item.url %>
            <td><%= link_to "<i class=\"fa fa-external-link\"></i>".html_safe,
             item.url %></td>
          <% else %>
            <td></td>
          <% end %>
          <td class="got-it"><%= render partial: "dibs/form",
          locals: { item: item, dib: @dib, method: :create,
                    organization_id: @organization.id } %></td>
          <% if @organization.organizer?(current_user) %>
            <td><%= link_to "Edit",
                edit_organization_item_path(organization_id: @organization.id,
                item_id: item.id), id: "item-#{item.id}-edit" %></td>
            <td><%= link_to "Delete",
                   organization_item_path(organization_id: @organization.id,
                   id: item.id), id: "item-#{item.id}-delete",
                   method: :delete %></td>
          <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div> <!--close parent row-->

