<div class="row">
  <h1><%= @organization.name %></h1>
  <div>
    <%= image_tag(@organization.display_photo) %>
    <%= @organization.address %>
    <%= @organization.city %>
    <%= @organization.state %>
    <%= @organization.zip %>
    <%= @organization.phone %>
    <%= @organization.email %>
  </div>
  <div>
    <%= @organization.description %>
    <%= link_to "Website <i class=\"fa fa-external-link\"></i>".html_safe,
     @organization.url %>
    <%= @organization.delivery_instructions %>
  </div>
</div>

<% if @organization.organizer?(current_user) %>
  <div class="row">
    <%= link_to "Add Items to Wishlist", new_organization_item_path(organization_id: @organization.id) %>
  </div>
<% end %>

<div class="row">
  <h2>All Wishlist Items</h2>
  <table>
    <th>
      <tr>
        <td width="150">Item Name</td>
        <td width="50">Quantity</td>
        <td width="200">Description</td>
        <td width="50">Link</td>
        <% if @organization.organizer?(current_user) %>
          <td width="50">Edit</td>
          <td width="50">Delete</td>
        <% end %>
      </tr>
      </th>
      <% @organization.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <% if item.description %>
          <td><%= item.description %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if item.url %>
          <td><%= link_to "<i class=\"fa fa-external-link\"></i>".html_safe,
           item.url %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if @organization.organizer?(current_user) %>
          <td><%= link_to "Edit", edit_organization_item_path(organization_id: @organization.id, item_id: item.id), id: "item-#{item.id}-edit" %></td>
          <td><%= link_to "Delete", organization_item_path(organization_id: @organization.id, id: item.id), id: "item-#{item.id}-delete", method: :delete %></td>
        <% end %>
        </tr>
      <% end %>
  </table>
</div> <!--close parent row-->

